@import '../colors.scss';

.input {
    outline: none;
    padding: 12px 20px;
    border-radius: 8px;
    border: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    max-width: 200px;
}