@import '../colors.scss';

.container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $green-background;
    height: 100%;
    width: 100%;

    form {        
        display: flex;
        flex-direction: column;
        background: $panel-white;
        width: 310px;
        padding: 50px 5px;
        border-radius: 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.10), 0 6px 6px rgba(0, 0, 0, 0.15);
        align-items: center;

        input[type=password] {
            margin-top: 25px;
        }
    }
}