* {
    margin: 0;
    padding: 0;
}
  
body {
    color: #000;
    font-size: 25px;
    font-family: Arial, san-serif;
    line-height: 1.1;
}
  
.container {
    margin: 0 auto;
    background: #e9f3ff57;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    background:
        -webkit-linear-gradient(135deg, hsla(266.21, 80.51%, 53.73%, 1) 15%, hsla(266.21, 80.51%, 53.73%, 0) 80%),
        -webkit-linear-gradient(205deg, hsla(182.35, 100%, 40%, 1) 100%, hsla(182.35, 100%, 40%, 0) 70%);
    background:
        linear-gradient(315deg, hsla(266.21, 80.51%, 53.73%, 1) 15%, hsla(266.21, 80.51%, 53.73%, 0) 80%),
        linear-gradient(245deg, hsla(182.35, 100%, 40%, 1) 100%, hsla(182.35, 100%, 40%, 0) 70%);
}
.heder {
    list-style: none;
    font-size: 0;
}

.heder li {
    display: inline-block;
    text-align: center;
}

.heder li a {
    color: #fff;
    font-weight: 600;
    display: block;
    background: #d6cdcd00;
    padding: 10px 0;
    text-decoration: none;
    font-size: 20px;
    padding-left: 15px;
}

.heder li .fa-bars {
    font-size: 30px;
    padding-top: 6px;
}

.fa-search {
    font-size: 17px !important;
    position: relative;
    left: 30px;
    z-index: 1;

}

input[type=search] {
    height: 25px;
    width: 230px;
    position: relative;
    border-radius: 3px;
    border: none;

}

.right-block {
    padding: 5px;
}